Source: python3-cyberfusion-systemd-support
Section: misc
Priority: optional
Maintainer: William Edwards <wedwards@cyberfusion.nl>
Build-Depends: python3-all, dh-python, debhelper (>= 10), python3-setuptools
Standards-Version: 4.3.0

Package: python3-cyberfusion-systemd-support
Architecture: all
Suggests: systemd
Depends: python3, python3-cyberfusion-common, ${misc:Depends}
Description: Library for systemd.
 Library for systemd.
